body {
  font-size: 11px;
  color: #55606a;
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

body td {
  line-height: 1;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
table {
  padding: 0.3rem;
  color: #55606a;
}
.table {
  color: #55606a;
}

#level4Table {
  font-size: 0.6rem;
  /* font-weight: 100!Important; */
}
table tfooter {
  font-size: 0.8rem;
  /* font-weight: 100!Important; */
}
table th {
  font-size: 0.6rem;
  font-weight: 400;
  color: #2a2f34;
}
table td {
  font-size: 0.6rem;
  /* font-weight: 100!Important; */
}

.total-column {
  font-weight: 400;
  background-color: #eff1f2;
}

table.table-sm td,
table.table-sm th {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
table .fixed-layout {
  table-layout: fixed;
}

tr.info.groupBy.expanded {
  background-color: #89c4ff;
}

table.dataTable tr.dtrg-group td {
  background-color: #89c4ff;
}

tr.dtrg-group.dtrg-start.dtrg-level-0 {
  background-color: #89c4ff;
}
tr.dtrg-group.dtrg-start.dtrg-level-1 {
  background-color: #c4ff89;
}

tr.dtrg-group.dtrg-start.dtrg-level-1 td {
  background-color: transparent !important;
}

table.dataTable {
  border-collapse: collapse;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border: 1px solid #dee2e6;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 400;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 0.3rem;
  border: 1px solid #dee2e6;
}

div#example_filter label {
  color: #fff;
}
div#level1Table_filter label {
  color: #fff;
}
div#level2Table_filter label {
  color: #fff;
}
div#level2TableV2_filter label {
  color: #fff;
}
div#level3Table_filter label {
  color: #fff;
}
div#mappingDataTable_filter label {
  color: #fff;
}
div#level4DataTable_filter label {
  color: #fff;
}
div#level4test_filter label {
  color: #fff;
}
div#ownersTable_filter label {
  color: #fff;
}
div#mappingV3DataTable_filter label {
  color: #fff;
}
div#mappingV4DataTable_filter label {
  color: #fff;
}

#filterBtn {
  background-color: #f9f32f !important;
  border-color: #f9f32f !important;
}
#filterClearBtn {
  /* background-color: #f9f32f!important;
    border-color: #f9f32f!important;*/
}

tfoot#dataTableFooter tr th {
  font-weight: bold;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border: 1px solid #dee2e6;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border: 1px solid #dee2e6;
}

tr.info.groupBy.expanded td.bs-checkbox input {
  display: none;
}

input.search-th {
  width: inherit;
}

.glyphicon.glyphicon-log-out {
  font-size: 8px;
}

ul.ks-cboxtags {
  list-style: none;
}
ul.ks-cboxtags li {
  display: inline;
}
ul.ks-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

#reportLoading {
  display: block;
  visibility: visible;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  vertical-align: bottom;
  padding-top: 20%;
  filter: alpha(opacity=75);
  opacity: 0.75;
  font-size: large;
  color: blue;
  font-style: italic;
  font-weight: 400;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../loader.gif");
}

.status {
  padding: 20px;
}

.status-box {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.stale {
  background: #ff7b7b !important;
}

.filter {
  background: #f9f32f !important;
}

.fresh {
  background: #b5e550;
}

.performance-filter {
  font-size: 13px;
}

.redborder {
  border: 1px solid red;
}

.blueborder {
  border: 1px solid blue;
}

.pinkborder {
  border: 1px solid pink;
}

.filter-block {
  border-bottom: 1px solid #d0d4e4;
  padding-top: 10px;
  margin-bottom: 15px;
}

.chartrow {
  padding-top: 20px;
}

.bar:hover {
  fill: rgb(48, 74, 224);
}

.bar.PERCENTAGE:hover {
  fill: rgb(119, 193, 116);
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 45px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(174, 178, 180);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: black;
}

div.line1-tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(245, 167, 167);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: rgb(100, 4, 4);
}

div.line2-tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(159, 242, 155);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: green;
}

div.rect-tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(154, 171, 245);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: rgb(12, 4, 117);
}

.x.axis-label {
  font-weight: bold;
}

.y.axis-label {
  font-weight: bold;
}
/*
.x.g1-axis-label {
  font-weight: bold;
}

.y.g1-axis-label {
  font-weight: bold;
}

.x.g1-axis-label {
  font-weight: bold;
}

.y.g1-axis-label {
  font-weight: bold;
} */

.target {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flash {
  color: red;
  font-size: initial;
  display: none;
}

.summary_table_heading {
  border-top: #dee2e6 solid 1px;
}

#nocontent {
  display: none;
}

.hidden {
  display: none;
}

.extendable {
  /* background-color: red; */
}

.highlight {
  background-color: yellow;
}

.credit_meeting_minutes_form {
  font-size: 11px;
}

.credit-meeting-minutes-modal {
  max-width: 100% !important;
}
