{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="level1" class="nav-link"  href="{{ path_for('level1') }}">Level 1</a>
    </li>
    <li class="nav-item">
      <a id="level2" class="nav-link"   href="{{ path_for('level2') }}">Level 2</a>
    </li>
    <li class="nav-item">
      <a id="level3" class="nav-link  active"   href="{{ path_for('level3') }}">Level 3</a>
    </li>
    <li class="nav-item">
      <a id="level4" class="nav-link"  href="{{ path_for('level4') }}">Level 4</a>
    </li>
</ul>

                  <h2 style="padding-top: 10px">Aging Summary by Account, Property</h2>
                  <div class="fixed-table-toolbar float-left">
                      <ul class="ks-cboxtags">
                          <li><input type="checkbox" id="arledger_check" value="arledger"><label for="arledger_check">AR Ledger</label></li>
                          <li><input type="checkbox" id="accruals_check" value="accruals"><label for="accruals_check">Accruals</label></li>
                          <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment3Modal">Add Comment</button></li>
                        </ul>
                  </div>

                  <div id="reportLoading"></div>
        <table style="table-layout: fixed;width: 2300px; " id="summaryTable" class="table table-striped table-bordered table-sm fixed-layout"
        cellspacing="0" width="100%"
        id="summaryTable"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-height="600"
        data-show-footer="true"
        data-select-item-name="id"
        data-select-item-name="ACCOUNT_NO"
        data-click-to-select="true"
        data-page-size="50"
        data-group-by="true"
        data-group-by-field="RESORT"
        data-row-attributes="rowAttributes"
        >
          <thead >
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th  scope="col" data-sortable="true" data-field="TYPE" data-visible="false" data-searchable="true"  >AR Ledger / Accruals</th>
                    <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
                    <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME">Account Name</th>
                    <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO">Account No</th>
                    <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT">Credit Limit</th>
                    <th scope="col" data-sortable="true" data-field="RESORT">Resort</th>
                    <th  scope="col" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
                    <th  scope="col" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
                    <th  scope="col" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
                    <th  scope="col" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
                    <th  scope="col" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
                    <th  scope="col" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
                    <th  scope="col" class="total-column"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
                    <th scope="col" data-field="owner">Current Ownership</th>
                    <th scope="col" data-field="dispatch_date">Dispatch Date</th>
                    <th scope="col" data-field="rc">Review Comments</th>
                    <th scope="col" data-field="rc_id_date">EID/Date</th>
                    <th scope="col" data-field="email_call_date">Last call / Email</th>
                    <th scope="col" data-field="l1">L1</th>
                    <th scope="col" data-field="l2">L2</th>
                    <th scope="col" data-field="l3">L3</th>
                    <th scope="col" data-field="cc">Collection comment</th>
                    <th scope="col" data-field="cc_id_date">EID/Date</th>


                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
            <tr>
                <td></td>
                <td  >{{ invoice.TYPE }}</td>
                <td>{{ invoice.ACCOUNT_TYPE }}</td>
                <td>{{ invoice.ACCOUNT_NAME }}</td>
                <td>{{ invoice.ACCOUNT_NO }}</td>
                <td>{{ invoice.CREDIT_LIMIT }}</td>
                <td>{{ invoice.RESORT }}</td>
                <td>{{ invoice.AGE_BUCKET1 }}</td>
                <td>{{ invoice.AGE_BUCKET2 }}</td>
                <td>{{ invoice.AGE_BUCKET3 }}</td>
                <td>{{ invoice.AGE_BUCKET4 }}</td>
                <td>{{ invoice.AGE_BUCKET5 }}</td>
                <td>{{ invoice.AGE_BUCKET6 }}</td>
                <td class="total-column">{{ invoice.TOTAL }}</td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.OWNER }}  <br> {% endif %}  {% endfor %}    </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.DISPATCH_DATE }} <br>{% endif %} {% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.REVIEW_COMMENT }} <br>{% endif %} {% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %}  {% if comment.RC_EID is not null %}{{ comment.RC_EID }}/{% endif %} {{ comment.RC_DATE }} <br>{% endif %} {% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.CALL_OR_EMAIL_DATE }}<br> {% endif %} {% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.LEVEL1 }} {% endif %} <br>{% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.LEVEL2 }} {% endif %}<br> {% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.LEVEL3 }} {% endif %} <br>{% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %} {{ comment.COLL_COMMENT }} <br>{% endif %} {% endfor %} </td>
                <td>{% for comment in comments %} {% if invoice.ACCOUNT_NO == comment.ACCOUNT_NO and invoice.RESORT == comment.RESORT %}  {% if comment.CC_ID is not null %}{{ comment.CC_ID }}/{% endif %} {{ comment.CC_DATE }}  <br>{% endif %}{% endfor %} </td>

            </tr>


            {% endfor %}
            </tbody>


      </table>

              <!-- Modal -->
    <div class="modal fade" id="comment3Modal" tabindex="-1" role="dialog" aria-labelledby="comment3ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="comment3ModalLabel">Resort Comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form id="level3ModalForm">
                            <div class="form-group">
                                    <label for="level3Selected">Selected Accounts and Resorts</label>
                                    <select multiple class="form-control" name="ACCOUNT_NO" id="level3Selected">

                                    </select>
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Review Comments:</label>
                              <textarea class="form-control" id="message-text" name="REVIEW_COMMENT"></textarea>
                            </div>
                            <div class="form-group">
                                    <label for="message-text" class="col-form-label">Collection Comments:</label>
                                    <textarea class="form-control" id="message-text" name="COLL_COMMENT"></textarea>
                                  </div>
                          </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="level3ModalBtn" type="button" class="btn btn-primary">Save comments</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}