{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="level1" class="nav-link"  href="/marriott_ar/src/public/level1">Level 1</a>
    </li>
    <li class="nav-item">
      <a id="level2" class="nav-link"   href="/marriott_ar/src/public/level2">Level 2</a>
    </li>
    <li class="nav-item">
      <a id="level3" class="nav-link"   href="/marriott_ar/src/public/level3">Level 3</a>
    </li>
    <li class="nav-item">
      <a id="level4" class="nav-link  active"  href="/marriott_ar/src/public/level4">Level 4</a>
    </li>
</ul>
<h2 style="padding-top: 10px">Aging Aging Detailed</h2>



    <div class="fixed-table-toolbar float-left">
        <!--div class="columns columns-right btn-group float-right">
            <button class="btn btn-default btn-secondary" type="button" name="resortSearch" aria-label="resort search" title="Resort search">
            <i class="fa fa-chevron-down"></i>
            </button>
          </div>
          <div class="float-left search ">
              <input class="form-control" type="text" placeholder="Resort">
          </div-->
        <ul class="ks-cboxtags">
            <li><input type="checkbox" id="arledger_check" value="arledger"><label for="arledger_check">AR Ledger</label></li>
            <li><input type="checkbox" id="accruals_check" value="accruals"><label for="accruals_check">Accruals</label></li>
        </ul>

    </div>





        <table style= "table-layout: fixed;width: 1590px; " id="level4Table" class="table table-striped table-bordered table-sm fixed-layout"
        cellspacing="0" width="100%"
        data-id-table="advancedTable"
        data-toggle="table"
        data-search="true"
        data-advanced-search="true"
        data-side-pagination="server"
        data-url="https://hsolutions.app/marriott_ar/src/public/level4/ALL/CPTCF"
        data-pagination="true"
        data-show-footer="true"
        data-show-export="true"
        data-height="600">
          <thead >
                <tr>
                    <th data-width="30px" data-field="state" data-checkbox="true"></th>
                    <th  data-width="60px" scope="col"  data-field="TYPE" data-visible="false" data-searchable="true"  >AR Ledger / Accruals</th>
                    <th  data-width="60" scope="col"  data-field="ACCOUNT_TYPE"   >Account Type</th>
                    <th  data-width="60" scope="col"  data-field="ACCOUNT_NAME">Account Name</th>
                    <th  data-width="60" scope="col"  data-field="ACCOUNT_NO">Account No</th>
                    <th  data-width="60" scope="col"  data-field="CREDIT_LIMIT">Credit Limit</th>
                    <th  data-width="60" scope="col"  data-field="RESORT">Resort</th>
                    <th  data-width="60" scope="col"  data-field="INVOICE_NO">Invoice No.</th>
                    <th  data-width="60" scope="col"  data-field="FOLIO_NO">Folio No.</th>
                    <th  data-width="60" scope="col"  data-field="POST_DATE" >Post Date</th>
                    <th  data-width="60" scope="col" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
                    <th  data-width="60" scope="col" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
                    <th  data-width="60" scope="col" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
                    <th  data-width="60" scope="col" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
                    <th  data-width="60" scope="col" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
                    <th  data-width="60" scope="col" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
                    <th  data-width="60" scope="col" class="total-column"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
                    <th data-width="60" scope="col" data-field="owner">Current Ownership</th>
                    <th data-width="60" scope="col" data-field="dispatch_date">Dispatch Date</th>
                    <th data-width="60" scope="col" data-field="rc">Review Comments</th>
                    <th data-width="60" scope="col" data-field="rc_id_date">EID/Date</th>
                    <th data-width="60" scope="col" data-field="email_call_date">Last call / Email</th>
                    <th data-width="60" scope="col" data-field="l1">L1</th>
                    <th data-width="60" scope="col" data-field="l2">L2</th>
                    <th data-width="60" scope="col" data-field="l3">L3</th>
                    <th data-width="60" scope="col" data-field="cc">Collection comment</th>
                    <th data-width="60" scope="col" data-field="cc_id_date">EID/Date</th>

                </tr>
            </thead>



      </table>


{% endblock %}