
{% extends 'master.twig' %}

{% block arTable %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/marriott_ar/src/public/level1">Level 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/marriott_ar/src/public/level2">Level 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/marriott_ar/src/public/level3">Level 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/marriott_ar/src/public/level4">Level 4</a>
  </li>
</ul>

<h2 style="padding-top: 10px">Aging Summary by Account Type</h2>

    <table id="summaryTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th scope="col">Account Type</th>
                 <th scope="col">Up to 15</th>
                <th scope="col">16 to 30</th>
                <th scope="col">31 to 60</th>
                <th scope="col">61 to 90</th>
                <th scope="col">91 to 120</th>
                <th scope="col">121 and over</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
        <tr>
                <td>{{ invoice.ACCOUNT_TYPE }}</td>
                <td>{{ invoice.AGE_BUCKET1 }}</td>
                <td>{{ invoice.AGE_BUCKET2 }}</td>
                <td>{{ invoice.AGE_BUCKET3 }}</td>
                <td>{{ invoice.AGE_BUCKET4 }}</td>
                <td>{{ invoice.AGE_BUCKET5 }}</td>
                <td>{{ invoice.AGE_BUCKET6 }}</td>
                <td>{{ invoice.TOTAL }}</td>
        </tr>


        {% endfor %}
        </tbody>
        <tfoot>
          <th colspan="10" style="text-align:left">Total:</th>
          <th></th>
        </tfoot>

    </table>

    {% endblock %}


