
{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<h2 style="padding-top: 10px;padding-bottom: 10px; ">Aging Summary by Account</h2>



<div id="reportLoading"></div>

<table style="table-layout: fixed;width: 2400px; " id="level2Table"class="display nowrap"

data-id-table="level2Table"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-select-item-name="INVOICE_NO"
        data-click-to-select="true"
        data-row-attributes="rowAttributes">
    <thead>
        <tr>

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME">Account Name</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO">Account No</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT" data-formatter="rowTotalFormatter">Credit Limit</th>
            <th  scope="col"  data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
            <th  scope="col" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
            <th  scope="col" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
            <th  scope="col" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
            <th  scope="col" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
            <th  scope="col" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
            <th  scope="col" class="total-column"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
            <th scope="col" data-field="OWNER">Current Ownership</th>
            <th scope="col" data-field="DISPATCH_DATE">Dispatch Date</th>
            <th scope="col" data-field="RC">Review Comments</th>
            <th scope="col" data-field="RC_ID_DATE">EID/Date</th>
            <th scope="col" data-field="EMAIL_CALL_DATE">Last call / Email</th>
            <th scope="col" data-field="L1">L1</th>
            <th scope="col" data-field="L2">L2</th>
            <th scope="col" data-field="L3">L3</th>
            <th scope="col" data-field="CC">Collection comment</th>
            <th scope="col" data-field="CC_ID_DATE">EID/Date</th>
        </tr>
      </thead>

      <tfoot id="dataTableFooter">
          <tr>
              <th colspan="4" style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>

          </tr>
      </tfoot>


</table>

{% include 'comment_modal.html' %}

      </table>


  {% endblock %}