{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="level1" class="nav-link active"  href="{{ path_for('level1') }}">Level 1</a>
    </li>
    <li class="nav-item">
      <a id="level2" class="nav-link"   href="{{ path_for('level2') }}">Level 2</a>
    </li>
    <li class="nav-item">
      <a id="level3" class="nav-link"   href="{{ path_for('level3') }}">Level 3</a>
    </li>
    <li class="nav-item">
      <a id="level4" class="nav-link"  href="{{ path_for('level4') }}">Level 4</a>
    </li>
    <li class="nav-item">
        <a id="level4" class="nav-link "  href="{{ path_for('mapping') }}">Mapping</a>
      </li>
      <li class="nav-item">
          <a href="{{ path_for('logout')}}" class="btn btn-secondary btn-lg" style="padding:11px ; font-size:90%; line-height: 1;">
              <span class="glyphicon glyphicon-log-out" ></span> Log out
            </a>
        </li>
</ul>
                  <h2 style="padding-top: 10px;padding-bottom: 10px; ">Aging Summary by Account Type</h2>
                  <!--div class="fixed-table-toolbar float-left">
                      <ul class="ks-cboxtags">
                          <li><input type="checkbox" id="arledger_check" value="arledger"><label for="arledger_check">AR Ledger</label></li>
                          <li><input type="checkbox" id="accruals_check" value="accruals"><label for="accruals_check">Accruals</label></li>
                      </ul>
                  </div-->


                  <div id="reportLoading"></div>
        <table id="summaryTable" class="table table-striped table-bordered table-sm fixed-layout" cellspacing="0" width="100%"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-show-footer="true"
        data-page-size="50"
       >
          <thead >
                <tr>
                    <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
                    <th  scope="col" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
                    <th  scope="col" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
                    <th  scope="col" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
                    <th  scope="col" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
                    <th  scope="col" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
                    <th  scope="col" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
                    <th  scope="col" class="total-column"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
            <tr>

                   <td  >{{ invoice.ACCOUNT_TYPE }}</td>
                    <td  >{{ invoice.AGE_BUCKET1 }}</td>
                    <td  >{{ invoice.AGE_BUCKET2 }}</td>
                    <td  >{{ invoice.AGE_BUCKET3 }}</td>
                    <td  >{{ invoice.AGE_BUCKET4 }}</td>
                    <td  >{{ invoice.AGE_BUCKET5 }}</td>
                    <td  >{{ invoice.AGE_BUCKET6 }}</td>
                    <td  class="total-column">{{ invoice.TOTAL }}</td>
            </tr>


            {% endfor %}
            </tbody>




      </table>




{% endblock %}