{% extends 'master.twig' %}

{% block arTable %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/marriott_ar/src/public/level1">Level 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/marriott_ar/src/public/level2">Level 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/marriott_ar/src/public/level3">Level 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/marriott_ar/src/public/level4">Level 4</a>
  </li>
</ul>
    <table id="summaryTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">Account Type</th>
                    <th scope="col">Account Name</th>
                    <th scope="col">Account No</th>
                    <th scope="col">Credit Limit</th>
                    <th scope="col">Resort</th>
                    <th scope="col">Invoice No.</th>
                    <th scope="col">Folio No.</th>
                    <th scope="col">Post Date</th>
                    <th scope="col">Up to 15</th>
                    <th scope="col">16 to 30</th>
                    <th scope="col">31 to 60</th>
                    <th scope="col">61 to 90</th>
                    <th scope="col">91 to 120</th>
                    <th scope="col">121 and over</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
            <tr>
                    <td>{{ invoice.ACCOUNT_TYPE }}</td>
                    <td>{{ invoice.ACCOUNT_NAME }}</td>
                    <td>{{ invoice.ACCOUNT_NO }}</td>
                    <td>{{ invoice.CREDIT_LIMIT }}</td>
                    <td>{{ invoice.RESORT }}</td>
                    <td>{{ invoice.INVOICE_NO }}</td>
                    <td>{{ invoice.FOLIO_NO }}</td>
                    <td>{{ invoice.POST_DATE }}</td>
                    <td>{{ invoice.AGE_BUCKET1 }}</td>
                    <td>{{ invoice.AGE_BUCKET2 }}</td>
                    <td>{{ invoice.AGE_BUCKET3 }}</td>
                    <td>{{ invoice.AGE_BUCKET4 }}</td>
                    <td>{{ invoice.AGE_BUCKET5 }}</td>
                    <td>{{ invoice.AGE_BUCKET6 }}</td>
                    <td>{{ invoice.TOTAL }}</td>
            </tr>


            {% endfor %}
            </tbody>

        </table>


        {% endblock %}