{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<div style="padding: 10px;">
    <button id="addMappingBtn" type="button" class="btn btn-secondary">Add new mapping</button>
</div>



<div id="reportLoading"></div>

<table id="mappingTable" class="table table-striped table-bordered table-sm fixed-layout"
cellspacing="0" width="100%"
        data-id-table="mappingTable"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-show-footer="true"
        data-select-item-name="ACCOUNT_NO_FROM"
        data-click-to-select="true"
        data-page-size="50"

>
  <thead >
        <tr>
            <th  scope="col" data-sortable="true" data-field="RESORT"   >Hotel</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO_FROM"  >From Account</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO_TO"  >To Account</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME"  >Account Name</th>
            <th  scope="col" data-sortable="true" data-field="CONTACT"  >Contact</th>
            <th  scope="col" data-sortable="true" data-field="INSERT_DATE"  >Date added</th>
            <th  scope="col" data-sortable="true" data-field="INSERT_USER"  >User</th>
            <th  scope="col" data-sortable="true" data-field="UPDATE_DATE"  >Last updated</th>
            <th  scope="col" data-sortable="true" data-field="UPDATE_USER"  >User</th>
      </tr>
    </thead>
    <tbody>
    {% for mapping in mappings %}
    <tr>

           <td  >{{ mapping.RESORT }}</td>
            <td  >{{ mapping.ACCOUNT_NO_FROM }}</td>
            <td  >{{ mapping.ACCOUNT_NO_TO }}</td>
            <td  >{{ mapping.ACCOUNT_NAME }}</td>
            <td  >{{ mapping.CONTACT }}</td>
            <td  >{{ mapping.INSERT_DATE }}</td>
            <td  >{{ mapping.INSERT_USER }}</td>
            <td  >{{ mapping.UPDATE_DATE }}</td>
            <td  >{{ mapping.UPDATE_USER }}</td>

    </tr>


    {% endfor %}
    </tbody>




</table>

{% include 'mapping_change_modal.html' %}
{% include 'mapping_add_modal.html' %}
{% include 'deleteModal.html' %}





{% endblock %}