{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}

 <div class="row">
              {% if flash.getMessage('accessDenied').0 %}
              <div class="alert alert-danger">
                {{flash.getMessage('accessDenied').0}}
              </div>
            {% endif %}
            </div>


{% endblock %}



