{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}



<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>

<div id="reportLoading"></div>
{# <div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div> #}


<div class="filter-block">
  <div class="form-row">
  <div class="col-sm-4 mb-3 performance-filter" >
    <label for="filter_resort" class="col-form-label performance-filter">Hotel</label>                  
     <select class="form-control performance-filter" id="filter_resort">
          {% for resort in resorts %}
          <option value="{{ resort.CODE }}">{{ resort.DESCRIPTION }}</option>
          {% endfor %}
      </select>
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
      <label id="snapshot_date_label" for="snapshot_date" class="col-form-label performance-filter" >Period</label>
      <select class="form-control performance-filter" id="snapshot_date" >   
      </select>
  </div>
  <div class="col-sm-2 mb-3 target " >
    <button id="publishAgingTempBtn" type="button" class="btn btn-secondary">Publish</button>               
  </div>
  <div class="col-sm-4 mb-3 target " >
    <h6 id="publish_text"></h6>             
  </div>
  </div>
</div>

<div class="row"> 
<div class="col-sm-12">
<table id="aging_template" class="display nowrap"
        data-id-table="aging_template">
  <thead >
        <tr>
          
            <th  scope="col" data-sortable="true" data-field="PMS_ACCOUNT_NO"   >AR Opera #</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME"   >Account Name</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT"   >Credit Limit</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1"   >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2"   >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3"   >31  to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4"   >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >121 and over</th>
            <th  scope="col" data-sortable="true" data-field="TOTAL"   >Balance</th>
            <th  scope="col" data-sortable="true" data-field="PROVISION"   >Provision</th>
            <th  scope="col" data-sortable="true" data-field="PREV120DAYS"   >120 Days Previous Month</th>
            <th  scope="col" data-sortable="true" data-field="REMARKS"   >Remarks</th>
            
      </tr>
    </thead>
    <tfoot>
    <th colspan="3" style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
    </tfoot>
   
</table>
</div>
{{  csrf.field | raw }}
 </div>


  <div>
 <div class="row">
 <div class="col-sm-6 offset-sm-3">
<table id="summary_table" class="display nowrap">
 <thead>
 </thead>
</table>
</div>
 </div>
 </div>

{% include 'aging_temp_remarks_modal.html' %}


{% endblock %}