{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}



<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>

<div id="reportLoading"></div>
{# <div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div> #}

{{ hotel_code }}
{{ hotel_desc }}
{{hotelAccess}}
{{user}}
<div class="filter-block">
  <div class="form-row">

  <div class="col-sm-4 mb-3 performance-filter" >
    <label for="filter_resort" class="col-form-label performance-filter">Hotel</label>
     <select class="form-control performance-filter" id="filter_resort_published">
     {% if hotelAccess == 'Y' %}
     {% for hotel in hotels %}
     <option value="{{ hotel.HOTEL_CODE }}">{{ hotel.HOTEL_DESC }}</option>
     {% endfor %}
      {% else %}
          {% for resort in resorts %}
          <option value="{{ resort.CODE }}">{{ resort.DESCRIPTION }}</option>
          {% endfor %}
      {% endif %}
      </select>
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
      <label id="snapshot_date_label" for="filter_snapshot_date" class="col-form-label performance-filter">Published Date</label>
      <select class="form-control performance-filter" id="filter_snapshot_date">
      </select>
  </div>
  <div class="col-sm-1 mb-3 target " >
    <button id="searchPublishedAgingBtn" type="button" class="btn btn-secondary"><i class="fas fa-search"></i></button>
  </div>
  <div class="col-sm-1 mb-3 target " >
    <button id="lockAgingBtn" type="button" class="btn btn-secondary">Lock</button>
  </div>
  </div>


</div>

<div id="nocontent">
<h6>No Aging Published for {{ hotel_desc }}</h6>
</div>

<div id="content">

<div class="row">
<div class="col-sm-12">
<table id="aging_published" class="display nowrap"
        data-id-table="aging_published">
  <thead >
        <tr>

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO"   >Account #</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME"   >Account Name</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT"   >Credit Limit</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1"   >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2"   >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3"   >31  to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4"   >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >121 and over</th>
            <th  scope="col" data-sortable="true" data-field="TOTAL"   >Balance</th>
            <th  scope="col" data-sortable="true" data-field="PROVISION"   >Provision</th>
            <th  scope="col" data-sortable="true" data-field="PREV120"   >120 Days Previous Month</th>
            <th  scope="col" data-sortable="true" data-field="REMARKS"   >Remarks</th>

      </tr>
    </thead>
    <tfoot>
    <th colspan="3" style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
    </tfoot>

</table>


</div>
{{  csrf.field | raw }}
 </div>
 <div>

 <div>
 <div class="row">
 <div class="col-sm-6 offset-sm-3">
<table id="summary_table" class="display nowrap">
 <thead>
 </thead>
</table>
</div>
 </div>
 </div>

 </div>

{% include 'aging_temp_remarks_modal.html' %}
{% include 'deleteRemarksModal.html' %}

{% endblock %}