              <!-- Modal -->
              <div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="remarksModalLabel">Edit Remarks</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="remarksModalForm" class="needs-validation" novalidate>
                                        <div class="row">
                                            <div class="col-sm-3 form-group">
                                              <label for="REMARKS_ACCOUNT_NO" class="col-form-label">Account No </label>
                                            <input  type="text" class="form-control" id="REMARKS_ACCOUNT_NO" name="REMARKS_ACCOUNT_NO" value="" readonly>
                                            </div>
                                            <div class="col-sm-9 form-group">
                                              <label for="REMARKS_ACCOUNT_NAME" class="col-form-label">Account Name</label>
                                              <input type="text" class="form-control"  id="REMARKS_ACCOUNT_NAME" name="REMARKS_ACCOUNT_NAME" value="" readonly >
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-6 form-group">
                                            <label for="PREV120DAYS" class="col-form-label">120 Days Previous Month</label>
                                            <input type="number" class="form-control"  id="PREV120DAYS" name="PREV120DAYS" value=""  >
                                          </div>
                                          <div class="col-sm-6 form-group">
                                            <label for="PROVISION" class="col-form-label">Provision</label>
                                            <input type="number" class="form-control"  id="PROVISION" name="PROVISION" value=""  >
                                          </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="REMARKS" class="col-form-label">Remarks</label>
                                                <textarea  class="form-control"  id="REMARKS" name="REMARKS" value="" rows="4" ></textarea>
                                              </div>
                                      </div>
                                      
                                      {{  csrf.field | raw }}
                                      </form>
                                      
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                          <button id="remarksModalBtn" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>