<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Marriott AR Dashboard</title>
    <link
      rel="icon"
      href="https://marriottssc.secure-app.co.za/img/proteahotels.jpg"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://marriottssc.secure-app.co.za/dist/extensions/group-by-v2/bootstrap-table-group-by.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://marriottssc.secure-app.co.za/dist/bootstrap-table.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://marriottssc.secure-app.co.za/dist/Buttons-1.5.6/css/buttons.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://marriottssc.secure-app.co.za/css/style.css?202009301128"
    />
  </head>
  <body>
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a id="level1" class="nav-link" href="{{ path_for('level1') }}"
            >Market</a
          >
        </li>
        {% endif %} {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a id="level2" class="nav-link" href="{{ path_for('level2') }}"
            >Customers</a
          >
        </li>
        {% endif %} {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a id="level3" class="nav-link" href="{{ path_for('level3') }}"
            >Cust / Hotel</a
          >
        </li>
        {% endif %} {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a id="level4" class="nav-link" href="{{ path_for('level4') }}"
            >Invoice</a
          >
        </li>
        {% endif %} {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a id="mapping" class="nav-link" href="{{ path_for('mapping') }}"
            >Mapping</a
          >
        </li>
        {% endif %} {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a id="owners" class="nav-link" href="{{ path_for('owners') }}"
            >Owners</a
          >
        </li>
        {% endif %} {% if hotelAccess == 'N' %}
        <li class="nav-item">
          <a
            id="extract_dates"
            class="nav-link"
            href="{{ path_for('extract_dates') }}"
            >Data Upload</a
          >
        </li>
        {% endif %}
        <li class="nav-item">
          <a
            href="{{ path_for('logout') }}"
            class="btn btn-secondary btn-lg"
            style="padding: 11px; font-size: 90%; line-height: 1"
          >
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>
        </li>
      </ul>

      {% if hotelAccess == 'N' %} {% if perfAccessYN == 'Y' %}

      <div style="margin-left: 10px; margin-right: 10px">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              id="eid_performance"
              class="nav-link"
              href="{{ path_for('eid_performance') }}"
              >Individual Performance</a
            >
          </li>
          <li class="nav-item">
            <a
              id="eid_aging"
              class="nav-link"
              href="{{ path_for('eid_aging') }}"
              >Individual/Hotel Aging</a
            >
          </li>
          <li class="nav-item">
            <a
              id="ssc_aging"
              class="nav-link"
              href="{{ path_for('ssc_aging') }}"
              >SSC Aging</a
            >
          </li>
          <li class="nav-item">
            <a
              id="aging_template_link"
              class="nav-link"
              href="{{ path_for('aging_template') }}"
              >Aging Template</a
            >
          </li>
          <li class="nav-item">
            <a
              id="aging_published_link"
              class="nav-link"
              href="{{ path_for('aging_published') }}"
              >Aging Published</a
            >
          </li>
          <li class="nav-item">
            <a
              id="credit_meeting_minutes"
              class="nav-link"
              href="{{ path_for('credit_meeting_minutes') }}"
              >Credit Meeting Minutes</a
            >
          </li>
        </ul>
      </div>

      {% endif %} {% endif %} {% if hotelAccess == 'Y' %}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            id="aging_published_link"
            class="nav-link"
            href="{{ path_for('aging_published') }}"
            >Aging</a
          >
        </li>
        <li class="nav-item">
          <a
            id="credit_meeting_minutes"
            class="nav-link"
            href="{{ path_for('credit_meeting_minutes') }}"
            >Credit Meeting Minutes</a
          >
        </li>
      </ul>
      {% endif %} {% block arTable %} {% endblock %}
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
      integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
      crossorigin="anonymous"
    ></script>

    <script src="https://marriottssc.secure-app.co.za/d3/d3.min.js"></script>
    <script src="https://marriottssc.secure-app.co.za/dist/bootstrap-table.min.js"></script>
    <script src="https://marriottssc.secure-app.co.za/dist/extensions/group-by-v2/bootstrap-table-group-by.min.js"></script>
    <script src="https://marriottssc.secure-app.co.za/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/libs/FileSaver/FileSaver.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/js/tableExport.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.min.js"
    ></script>
    <script src="//cdn.rawgit.com/ashl1/datatables-rowsgroup/v1.0.0/dataTables.rowsGroup.js"></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/dist/Select-1.3.0/js/dataTables.select.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/dist/Buttons-1.5.6/js/dataTables.buttons.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/dist/Buttons-1.5.6/js/buttons.flash.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/dist/Buttons-1.5.6/js/buttons.html5.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/dist/Buttons-1.5.6/js/buttons.print.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/js/js.cookie.js"
    ></script>
    <script
      type="text/javascript"
      src="https://marriottssc.secure-app.co.za/js/marriott_ar.js?20210119"
    ></script>
  </body>
</html>
