              <!-- Modal -->
              <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <form id="changePasswordModalForm" class="needs-validation" novalidate>
                                <div class="form-group">
                                  <label for="USER">Username</label>
                                  <input type="text" class="form-control" id="USER" name="USER" aria-describedby="emailHelp" placeholder="Enter username">
                                </div>
                                <div class="form-group">
                                  <label for="OLD_PASSWORD">Old Password</label>
                                  <input type="password" class="form-control" id="OLD_PASSWORD" name="OLD_PASSWORD" placeholder="Old Password">
                                </div>
                                <div class="form-group">
                                    <label for="NEW_PASSWORD">Current Password</label>
                                    <input type="password" class="form-control" id="NEW_PASSWORD" name="NEW_PASSWORD" placeholder="New Password">
                                  </div>
                                  {{  csrf.field | raw }}
                            </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="changePasswordModalBtn" class="btn btn-primary">Change Password</button>
                        </div>
                      </div>
                    </div>
                  </div>