<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Marriott AR Sign-in</title>
    <link rel="icon" href="https://marriottssc.secure-app.co.za/img/proteahotels.jpg">

    <!--link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/"-->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
  </head>

  <body >
    <div class="container-fluid">

          <div >
              <div class="row justify-content-center" >
                  {% if flash.getMessage('changedPasswordFail').0 %}
                    <div class="alert alert-danger">
                      {{flash.getMessage('changedPasswordFail').0}}
                    </div>
                  {% endif %}
                </div>
              <form  method="POST" action="" class="form-signin needs-validation"  novalidate>
                  <img class="mb-4" src="img/phmarriott.gif" alt="" width="300px" >
                  <div class="form-group col-sm-12">
                      <input id="user" name="user" type="text" class="form-control" placeholder="Username" required>

                      <div class="invalid-feedback">
                          Username required
                        </div>

                   </div>
                  <div class="form-group col-sm-12">
                    <input id="pass" name="pass" type="password" class="form-control" placeholder="Old Password" required>
                    <div class="invalid-feedback">
                        Old password required
                      </div>
                 </div>
                  <div class="form-group col-sm-12">
                    <input id="newpass" name="newpass" type="password" class="form-control" placeholder="New Password"  required>
                    <div class="invalid-feedback">
                        New password required
                      </div>

                 </div>

                 <div class="text-center">
                  <div class="col-sm-12">
                  <button class="btn btn-lg btn-primary btn-block" type="submit" id="changePassword" name="changePassword" >Change Password</button>
                  </div>
                  <p class="mt-5 mb-3 text-muted">&copy; Protea Hotels by Marriott</p>
                </div>
                {{  csrf.field | raw }}
                </form>
          </div>
    </div>





    {% include 'change_password_modal.html' %}


<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();



// $("#changePasswordLink").on('click',function(event) {
//  event.preventDefault();
//  event.stopPropagation();
// console.log("change password");
//  $('#changePasswordModal').modal('show');
// })


$("#changePasswordModalBtn").on('click',function(event) {
 event.preventDefault();
 event.stopPropagation();
console.log("change password");
 $('#changePasswordModal').modal('show');
})
</script>

  </body>
</html>

