{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}



<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>
<p id="hotel_access" hidden>{{ hotelAccess }}</p>

<div id="reportLoading"></div>

{# <div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div> #}


<div class="filter-block">
<div class="form-row">
      <h2 style="padding-top: 10px">Monthly Credit Meeting Minutes</h2>
  </div>
  <div class="form-row">

  <div class="col-sm-4 mb-3 performance-filter" >
    <label for="filter_resort" class="col-form-label performance-filter">Hotel</label>
     <select class="form-control credit_meeting_minutes_form performance-filter" id="filter_resort_published">
     {% if hotelAccess == 'Y' %}
     {% for hotel in hotels %}
     <option value="{{ hotel.HOTEL_CODE }}">{{ hotel.HOTEL_DESC }}</option>
     {% endfor %}
      {% else %}
          {% for resort in resorts %}
          <option value="{{ resort.CODE }}">{{ resort.DESCRIPTION }}</option>
          {% endfor %}
      {% endif %}
      </select>
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
      <label id="snapshot_date_label" for="filter_snapshot_date" class="col-form-label performance-filter">Published Date</label>
      <select class="form-control credit_meeting_minutes_form performance-filter" id="filter_snapshot_date">
      </select>
  </div>
  <div class="col-sm-1 mb-3 target " >
    <button id="saveCreditMeetingMinutesBtn" type="button" class="btn btn-secondary">Save</button>
  </div>
  <div class="col-sm-1 mb-3 target " >
    <button id="exportCreditMeetingMinutesBtn" type="button" class="btn btn-primary">Export</button>
  </div>
  </div>


</div>


<div  class="container-fluid" >

<div class="row">
<div class="col-sm-12">


<form id="creditMeetingMinutesForm" class="needs-validation" novalidate style="font-size: 11px;!important">
<fieldset id="creditMeetingMinutesFields" >
  <div class="form-group row">
    <label for="CR_MEETING_DATE" class="col-sm-1 col-form-label">Date</label>
    <div class="col-sm-3">
      <input type="date"  class="form-control credit_meeting_minutes_form" id="CR_MEETING_DATE" name="CR_MEETING_DATE" value="">
    </div>
  </div>
  <div class="form-group row">
    <label for="CR_MEETING_TIME" class="col-sm-1 col-form-label">Time</label>
    <div class="col-sm-3">
      <input type="text"  class="form-control credit_meeting_minutes_form" id="CR_MEETING_TIME" name="CR_MEETING_TIME" value="">
    </div>
  </div>
  <!--div class="form-group row">
    <label for="CR_MEETING_HOTEL" class="col-sm-1 col-form-label">Hotel</label>
    <div class="col-sm-3">
      <input type="text" readonly class="form-control credit_meeting_minutes_form-plaintext" id="CR_MEETING_HOTEL" name="CR_MEETING_HOTEL" value="">
    </div>
  </div-->
  <div class="form-group row">
    <label for="CR_MEETING_NEXT_DATE" class="col-sm-1 col-form-label">Date of next meeting</label>
    <div class="col-sm-3">
      <input type="date"  class="form-control credit_meeting_minutes_form" id="CR_MEETING_NEXT_DATE" name="CR_MEETING_NEXT_DATE" value="">
    </div>
  </div>

  <div class="row">
      <div class="col-sm-6 form-group">
        <label for="CR_MEETING_PRESENT" class="col-form-label">Present</label>
          <textarea  class="form-control credit_meeting_minutes_form"  id="CR_MEETING_PRESENT" name="CR_MEETING_PRESENT" value="" rows="2" ></textarea>
      </div>
      <div class="col-sm-6 form-group">
        <label for="CR_MEETING_NOT_PRESENT" class="col-form-label">Not Present</label>
          <textarea  class="form-control credit_meeting_minutes_form"  id="CR_MEETING_NOT_PRESENT" name="CR_MEETING_NOT_PRESENT" value="" rows="2" ></textarea>
      </div>
  </div>

<div>
<table id="1" data-item="#1" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Status report on 60-day and older accounts remaining from last meeting</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM1_ROW1_COL2" name="ITEM1_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM1_ROW1_COL3" name="ITEM1_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM1_ROW1_COL4" name="ITEM1_ROW1_COL4" value="" rows="1" ></textarea></td>

    </tr>

  </tbody>
</table>
<button id="addRowBtn1" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="2" data-item="#2" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Review of new accounts in the 60-day and older category</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM2_ROW1_COL2" name="ITEM2_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM2_ROW1_COL3" name="ITEM2_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM2_ROW1_COL4" name="ITEM2_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn2" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="3" data-item="#3" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Review any potential problem accounts in current or 30-day category</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM3_ROW1_COL2" name="ITEM3_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM3_ROW1_COL3" name="ITEM3_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM3_ROW1_COL4" name="ITEM3_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn3" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="4" data-item="#4" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Review returned checks</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">4</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM4_ROW1_COL2" name="ITEM4_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM4_ROW1_COL3" name="ITEM4_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM4_ROW1_COL4" name="ITEM4_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn4" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="5" data-item="#5" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Review un-billable and chargeback items</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">5</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM5_ROW1_COL2" name="ITEM5_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM5_ROW1_COL3" name="ITEM5_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM5_ROW1_COL4" name="ITEM5_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn5" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="6" data-item="#6" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Discuss an action plan to avoid recurrence of credit problems</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM6_ROW1_COL2" name="ITEM6_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM6_ROW1_COL3" name="ITEM6_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM6_ROW1_COL4" name="ITEM6_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn6" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="7" data-item="#7" class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Review A/R approved credit limits and determine if any account has exceeded this</th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">7</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM7_ROW1_COL2" name="ITEM7_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM7_ROW1_COL3" name="ITEM7_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM7_ROW1_COL4" name="ITEM7_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn7" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
<table id="8" data-item='"#8"' class="table extendable">
  <thead>
    <tr style="background-color: #20238a; ">
      <th scope="col" style="color:#fff;">Item</th>
      <th scope="col" style="color:#fff; width: 50%">Review open PM accounts on Guest Ledger </th>
      <th scope="col" style="color:#fff;">By whom</th>
      <th scope="col" style="color:#fff;">By when</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">8</th>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM8_ROW1_COL2" name="ITEM8_ROW1_COL2" value="" rows="1" ></textarea> </td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM8_ROW1_COL3" name="ITEM8_ROW1_COL3" value="" rows="1" ></textarea></td>
      <td> <textarea  class="form-control credit_meeting_minutes_form"  id="ITEM8_ROW1_COL4" name="ITEM8_ROW1_COL4" value="" rows="1" ></textarea></td></td>
    </tr>

  </tbody>
</table>
<button id="addRowBtn8" type="button" class="btn btn-secondary"><i class="fas fa-angle-double-down"></i></button>
</div>
 <!--div class="row" style="    height: 40px;
    background-color: #20238a;
    justify-content: center;
    align-items: center;">
  <div style="background-color: #232373; color:white; height:30px;" class="col-sm-12 ">
<div class="row">
<div class="col-sm-2" style="font-size: 12px;">
ITEM 1
</div>
<div class="col-sm-6" style="font-size: 12px;">
Status report on 60-day and older accounts remaining from last meeting
</div>
<div class="col-sm-2" style="font-size: 12px;">
By whom
</div>
<div class="col-sm-2" style="font-size: 12px;">
By when
</div>
</div>

  </div>
 </div-->



      {{  csrf.field | raw }}
      </fieldset>
</form>

<!--table id="aging_published" class="display nowrap"
        data-id-table="aging_published">
  <thead >
        <tr>

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO"   >Account #</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME"   >Account Name</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT"   >Credit Limit</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1"   >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2"   >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3"   >31  to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4"   >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >121 and over</th>
            <th  scope="col" data-sortable="true" data-field="TOTAL"   >Balance</th>
            <th  scope="col" data-sortable="true" data-field="PROVISION"   >Provision</th>
            <th  scope="col" data-sortable="true" data-field="PREV120"   >120 Days Previous Month</th>
            <th  scope="col" data-sortable="true" data-field="REMARKS"   >Remarks</th>

      </tr>
    </thead>
    <tfoot>
    <th colspan="3" style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
    </tfoot>

</table-->


</div>
{{  csrf.field | raw }}
 </div>

 {% include 'credit_minutes_modal.twig' %}


{% endblock %}