

<div class="modal" id="credit_minutes_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm credit-meeting-minutes-modal">
      <div class="modal-content"  style="background-color: 	#e9ecef">
        <div class="modal-body">
            <table style="table-layout: fixed;width: 2500px; "  id="credit_minutes_modal_table" class="display nowrap">
                <thead >
                  <tr>
                    <th  scope="col" data-sortable="true" data-field="SNAPSHOT_DATE"  >PUBLISHED_DATE</th>
                    <th  scope="col" data-sortable="true" data-field="RESORT"  >HOTEL</th>
                    <th  scope="col" data-sortable="true" data-field="CR_MEETING_DATE"  >MEETING_DATE</th>
                    <th  scope="col" data-sortable="true" data-field="CR_MEETING_TIME"  >MEETING_TIME</th>
                    <th  scope="col" data-sortable="true" data-field="CR_MEETING_NEXT_DATE"  >MEETING_NEXT_DATE</th>
                    <th  scope="col" data-sortable="true" data-field="CR_MEETING_PRESENT"  >MEETING_PRESENT</th>
                    <th  scope="col" data-sortable="true" data-field="CR_MEETING_NOT_PRESENT"  >MEETING_NOT_PRESENT</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW1_COL2"  >ITEM1_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW1_COL3"  >ITEM1_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW1_COL4"  >ITEM1_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW2_COL2"  >ITEM1_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW2_COL3"  >ITEM1_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW2_COL4"  >ITEM1_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW3_COL2"  >ITEM1_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW3_COL3"  >ITEM1_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW3_COL4"  >ITEM1_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW4_COL2"  >ITEM1_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW4_COL3"  >ITEM1_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW4_COL4"  >ITEM1_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW5_COL2"  >ITEM1_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW5_COL3"  >ITEM1_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW5_COL4"  >ITEM1_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW6_COL2"  >ITEM1_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW6_COL3"  >ITEM1_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM1_ROW6_COL4"  >ITEM1_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW1_COL2"  >ITEM2_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW1_COL3"  >ITEM2_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW1_COL4"  >ITEM2_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW2_COL2"  >ITEM2_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW2_COL3"  >ITEM2_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW2_COL4"  >ITEM2_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW3_COL2"  >ITEM2_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW3_COL3"  >ITEM2_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW3_COL4"  >ITEM2_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW4_COL2"  >ITEM2_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW4_COL3"  >ITEM2_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW4_COL4"  >ITEM2_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW5_COL2"  >ITEM2_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW5_COL3"  >ITEM2_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW5_COL4"  >ITEM2_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW6_COL2"  >ITEM2_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW6_COL3"  >ITEM2_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM2_ROW6_COL4"  >ITEM2_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW1_COL2"  >ITEM3_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW1_COL3"  >ITEM3_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW1_COL4"  >ITEM3_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW2_COL2"  >ITEM3_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW2_COL3"  >ITEM3_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW2_COL4"  >ITEM3_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW3_COL2"  >ITEM3_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW3_COL3"  >ITEM3_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW3_COL4"  >ITEM3_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW4_COL2"  >ITEM3_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW4_COL3"  >ITEM3_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW4_COL4"  >ITEM3_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW5_COL2"  >ITEM3_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW5_COL3"  >ITEM3_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW5_COL4"  >ITEM3_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW6_COL2"  >ITEM3_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW6_COL3"  >ITEM3_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM3_ROW6_COL4"  >ITEM3_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW1_COL2"  >ITEM4_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW1_COL3"  >ITEM4_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW1_COL4"  >ITEM4_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW2_COL2"  >ITEM4_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW2_COL3"  >ITEM4_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW2_COL4"  >ITEM4_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW3_COL2"  >ITEM4_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW3_COL3"  >ITEM4_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW3_COL4"  >ITEM4_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW4_COL2"  >ITEM4_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW4_COL3"  >ITEM4_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW4_COL4"  >ITEM4_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW5_COL2"  >ITEM4_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW5_COL3"  >ITEM4_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW5_COL4"  >ITEM4_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW6_COL2"  >ITEM4_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW6_COL3"  >ITEM4_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM4_ROW6_COL4"  >ITEM4_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW1_COL2"  >ITEM5_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW1_COL3"  >ITEM5_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW1_COL4"  >ITEM5_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW2_COL2"  >ITEM5_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW2_COL3"  >ITEM5_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW2_COL4"  >ITEM5_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW3_COL2"  >ITEM5_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW3_COL3"  >ITEM5_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW3_COL4"  >ITEM5_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW4_COL2"  >ITEM5_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW4_COL3"  >ITEM5_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW4_COL4"  >ITEM5_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW5_COL2"  >ITEM5_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW5_COL3"  >ITEM5_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW5_COL4"  >ITEM5_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW6_COL2"  >ITEM5_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW6_COL3"  >ITEM5_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM5_ROW6_COL4"  >ITEM5_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW1_COL2"  >ITEM6_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW1_COL3"  >ITEM6_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW1_COL4"  >ITEM6_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW2_COL2"  >ITEM6_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW2_COL3"  >ITEM6_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW2_COL4"  >ITEM6_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW3_COL2"  >ITEM6_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW3_COL3"  >ITEM6_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW3_COL4"  >ITEM6_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW4_COL2"  >ITEM6_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW4_COL3"  >ITEM6_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW4_COL4"  >ITEM6_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW5_COL2"  >ITEM6_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW5_COL3"  >ITEM6_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW5_COL4"  >ITEM6_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW6_COL2"  >ITEM6_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW6_COL3"  >ITEM6_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM6_ROW6_COL4"  >ITEM6_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW1_COL2"  >ITEM7_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW1_COL3"  >ITEM7_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW1_COL4"  >ITEM7_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW2_COL2"  >ITEM7_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW2_COL3"  >ITEM7_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW2_COL4"  >ITEM7_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW3_COL2"  >ITEM7_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW3_COL3"  >ITEM7_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW3_COL4"  >ITEM7_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW4_COL2"  >ITEM7_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW4_COL3"  >ITEM7_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW4_COL4"  >ITEM7_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW5_COL2"  >ITEM7_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW5_COL3"  >ITEM7_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW5_COL4"  >ITEM7_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW6_COL2"  >ITEM7_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW6_COL3"  >ITEM7_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM7_ROW6_COL4"  >ITEM7_ROW6_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW1_COL2"  >ITEM8_ROW1_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW1_COL3"  >ITEM8_ROW1_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW1_COL4"  >ITEM8_ROW1_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW2_COL2"  >ITEM8_ROW2_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW2_COL3"  >ITEM8_ROW2_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW2_COL4"  >ITEM8_ROW2_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW3_COL2"  >ITEM8_ROW3_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW3_COL3"  >ITEM8_ROW3_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW3_COL4"  >ITEM8_ROW3_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW4_COL2"  >ITEM8_ROW4_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW4_COL3"  >ITEM8_ROW4_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW4_COL4"  >ITEM8_ROW4_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW5_COL2"  >ITEM8_ROW5_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW5_COL3"  >ITEM8_ROW5_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW5_COL4"  >ITEM8_ROW5_COL4</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW6_COL2"  >ITEM8_ROW6_COL2</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW6_COL3"  >ITEM8_ROW6_COL3</th>
                    <th  scope="col" data-sortable="true" data-field="ITEM8_ROW6_COL4"  >ITEM8_ROW6_COL4</th>


              </tr>
                  </thead>
              </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>








