<!-- Small modal -->
<div class="modal" id="deleteRemarksModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content"  style="background-color: 	#e9ecef">
            <div class="modal-body">
              <p style="font-weight: bold; font-size: 15px;"><i class="fa fa-question-circle"></i>Are you sure you want to delete this remark? <br /></p>
                      <button id="deleteRemarksConfirmBtn" class="btn btn-danger" >Delete</button>
                      <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
</div>