<!-- Small modal -->
<div class="modal" id="deleteOwnersModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content"  style="background-color: 	#e9ecef">
            <div class="modal-body">
              <p style="font-weight: bold"><i class="fa fa-question-circle"></i>Are you sure you want to delete this owner? <br /></p>
                      <button id="deleteOwnersConfirmBtn" class="btn btn-danger" >Delete</button>
                      <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
</div>