{% extends 'bootstrapTableMaster.twig' %}


{% block arTable %}


<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>

<div id="reportLoading"></div>
{# <div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div> #}

<div class="filter-block">
  <div class="form-row">
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_from_date" class="col-form-label performance-filter">From Date</label>                  
    <input type="date" class="form-control performance-filter"  id="filter_from_date" name="filter_from_date" min="" max="" value="" placeholder=""  >
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_to_date" class="col-form-label performance-filter">To Date</label>                  
    <input type="date" class="form-control performance-filter"  id="filter_to_date" name="filter_to_date" min="" max="" value="" placeholder=""  >
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="a" class="col-form-label performance-filter">Metric A</label>                  
    <select class="form-control performance-filter" id="a">
              <option value="a_invoices" >Total Invoices</option>
              <option value="a_open_invoices">Outstanding Invoices</option>
              <option value="a_overdue_invoices_30">Invoices Overdue by 30 Days</option>
              <option value="a_overdue_invoices_60">Invoices Overdue by 60 Days</option>
              <option value="a_actions" selected>Invoices Actioned</option>
              <option value="a_dispatched_invoices">Invoices Dispatched</option>
              <option value="a_followup_invoices">Invoices Followed Up</option>
              
          </select>
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="b" class="col-form-label performance-filter">Metric B</label>                  
    <select class="form-control performance-filter" id="b">
              <option value="b_invoices" selected>Total Invoices</option>
              <option value="b_open_invoices">Outstanding Invoices</option>
              <option value="b_overdue_invoices_30">Invoices Overdue by 30 Days</option>
              <option value="b_overdue_invoices_60">Invoices Overdue by 60 Days</option>
              <option value="b_actions" >Invoices Actioned</option>
              <option value="b_dispatched_invoices">Invoices Dispatched</option>
              <option value="b_followup_invoices">Invoices Followed Up</option>
              
          </select>
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="c" class="col-form-label performance-filter">Metric C</label>                  
    <select class="form-control performance-filter" id="c">
              <option value="c_invoices" >Total Invoices</option>
              <option value="c_open_invoices">Outstanding Invoices</option>
              <option value="c_overdue_invoices_30">Invoices Overdue by 30 Days</option>
              <option value="c_overdue_invoices_60">Invoices Overdue by 60 Days</option>
              <option value="c_actions" >Invoices Actioned</option>
              <option value="c_dispatched_invoices">Invoices Dispatched</option>
              <option value="c_followup_invoices">Invoices Followed Up</option>
              <option value="c_null" selected></option>
              
          </select>
  </div>
  
   {{  csrf.field | raw }}
  </div>
</div>



<div class="row"> 
<div class="col-sm-12">
<h6 >Individual performance</h6>
<table id="eid_perf_table" class="display nowrap"

        data-id-table="eid_perf_table"
>
  <thead >
        <tr>
            <th  id="dim" scope="col" data-sortable="true" data-field="DIM"   >Owner</th>
            <th  id="fact1" scope="col" data-sortable="true" data-field="FACT1"   >Metric A</th>
            <th  id="fact2" scope="col" data-sortable="true" data-field="FACT2">Metric B</th> 
            <th  id="percentage" scope="col" data-sortable="true" data-field="PERCENTAGE">%</th>

      </tr>
    </thead>
    <tbody>
    </tbody>
   




</table>
</div>
</div> {# end of div row #}
<div id="eid_perf_chart_row" class="row chartrow"> {# new div row #}
<div class="col-sm-6">

<div id="eid_perf_chart1"></div>
</div> 
<div class="col-sm-6">

<div id="eid_perf_chart2"></div>
</div> 
 </div>{# end of div row #}

 


{% endblock %}

