{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}



<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>

<div id="reportLoading"></div>
{# <div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div> #}

<div class="filter-block">
  <div class="form-row">
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_from_date" class="col-form-label performance-filter">From Date</label>                  
    <input type="date" class="form-control performance-filter"  id="filter_from_date" name="filter_from_date" min="" max="" value="" placeholder=""  >
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_to_date" class="col-form-label performance-filter">To Date</label>                  
    <input type="date" class="form-control performance-filter"  id="filter_to_date" name="filter_to_date" min="" max="" value="" placeholder=""  >
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="dim_aging" class="col-form-label performance-filter">Dimension</label>                  
    <select class="form-control performance-filter" id="dim_aging">
              <option value="EID" selected>Owner</option>
              <option value="HOTEL">Hotel</option>
              
              
          </select>
  </div>
  <div class="col-sm-2 mb-3 target " >
    <button id="editTargetsBtn" type="button" class="btn btn-secondary">Edit Targets</button>               
  </div>
  </div>
</div>

<div class="row"> 
<div class="col-sm-6">
<h6>Aging</h6>
<table id="eid_aging_table" class="display nowrap"

        data-id-table="eid_aging_table"
>
  <thead >
        <tr>
            <th  scope="col" data-sortable="true" data-field="DIM"   >Owner</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1"   >0 - 30 Days</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2"   >31 - 60 Days</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3"   >61 - 90 Days</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET456"   >91 - older</th>
            <th  scope="col" data-sortable="true" data-field="TOTAL"   >Total</th>



      </tr>
    </thead>
   




</table>
</div>
<div class="col-sm-6">
<h6>Aging Percentage</h6>
<table id="eid_aging_perc_table" class="display nowrap"

        data-id-table="eid_aging_perc_table"
>
  <thead >
        <tr>
            <th  scope="col" data-sortable="true" data-field="DIM"   >Owner</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1_PERC"   >0 - 30 Days</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2_PERC"   >31 - 60 Days</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3_PERC"   >61 - 90 Days</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET456_PERC"   >91 - older</th>
      </tr>
    </thead>
   




</table>
</div>

 </div>
 <div id="eid_aging_charts_row" class="row chartrow"> 
 </div>


 {% include 'performance_input_modal.html' %}
 {% include 'performance_input_edit_modal.twig' %}

{% endblock %}