{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}




<div class="status">
  <div   {% if  staleCount.TOTAL_STALE > 0   %}  class="status-box stale" {% else %} class="status-box fresh" {% endif %} ></div>
  <div >
    {% if  staleCount.TOTAL_STALE > 0   %}  Not all files received from PMS. Stale files highlighted in red below. {% else %} All files received from PMS {% endif %}
  </div>

</div>

<div class="status">
  <div   {% if  staleMV.STATUS == 'FAILED'   %}  class="status-box stale" {% else %} class="status-box fresh" {% endif %} ></div>
  <div >
    {% if  staleMV.STATUS == 'FAILED'   %}  Data stale. Please contact administrator to refresh data. {% else %} Data refreshed {% endif %}
  </div>

</div>


<table id="extractDates" class="table table-bordered table-sm fixed-layout"
cellspacing="0" width="100%" >
  <thead >
        <tr >
            <th  scope="col" data-sortable="true" data-field="RESORT"   >Hotel</th>
            <th  scope="col" data-sortable="true" data-field="EXTRACT_TYPE"   >Data Type</th>
            <th  scope="col" data-sortable="true" data-field="LAST_EXTRACT_DATE"   >Last extract date</th>
      </tr>
    </thead>
    <tbody>
    {% for extract_date in extract_dates %}
    <tr {% if  extract_date.STATUS == 'STALE'    %}  class="stale" {% endif %} >
           <td  >{{ extract_date.RESORT }}</td>
           <td  >{{ extract_date.EXTRACT_TYPE }}</td>
           <td  >{{ extract_date.LAST_EXTRACT_DATE }}</td>
    </tr>


    {% endfor %}
    </tbody>




</table>


{% endblock %}