<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AR Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/proteahotels.jpg">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="css/mdb.min.css" rel="stylesheet">
    <style>

            table.dataTable thead .sorting:after,
            table.dataTable thead .sorting:before,
            table.dataTable thead .sorting_asc:after,
            table.dataTable thead .sorting_asc:before,
            table.dataTable thead .sorting_asc_disabled:after,
            table.dataTable thead .sorting_asc_disabled:before,
            table.dataTable thead .sorting_desc:after,
            table.dataTable thead .sorting_desc:before,
            table.dataTable thead .sorting_desc_disabled:after,
            table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
            }
    </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="invoices" class="container-fluid">
   <!-- Nav tabs -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="false">Detail</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
        </li-->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
        </div>
        <div class="tab-pane" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th scope="col">Account Type</th>
                                <th scope="col">Account Name</th>
                                <th scope="col">Account No</th>
                                <th scope="col">Credit Limit</th>
                                <th scope="col">Resort</th>
                                <th scope="col">Invoice No.</th>
                                <th scope="col">Folio No.</th>
                                <th scope="col">Post Date</th>
                                <th scope="col">Up to 15</th>
                                <th scope="col">16 to 30</th>
                                <th scope="col">31 to 60</th>
                                <th scope="col">61 to 90</th>
                                <th scope="col">91 to 120</th>
                                <th scope="col">121 and over</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                        <tr>
                                <td>{{ invoice.ACCOUNT_TYPE }}</td>
                                <td>{{ invoice.ACCOUNT_NAME }}</td>
                                <td>{{ invoice.ACCOUNT_NO }}</td>
                                <td>{{ invoice.CREDIT_LIMIT }}</td>
                                <td>{{ invoice.RESORT }}</td>
                                <td>{{ invoice.INVOICE_NO }}</td>
                                <td>{{ invoice.FOLIO_NO }}</td>
                                <td>{{ invoice.POST_DATE }}</td>
                                <td>{{ invoice.AGE_BUCKET1 }}</td>
                                <td>{{ invoice.AGE_BUCKET2 }}</td>
                                <td>{{ invoice.AGE_BUCKET3 }}</td>
                                <td>{{ invoice.AGE_BUCKET4 }}</td>
                                <td>{{ invoice.AGE_BUCKET5 }}</td>
                                <td>{{ invoice.AGE_BUCKET6 }}</td>
                        </tr>


                        {% endfor %}
                        </tbody>

                    </table>
        </div>
        <!--div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div-->
      </div>



        </div>



        <script src="" async defer></script>
          <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!--Datatables-->
  <script type="text/javascript" src="js/addons/datatables.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

        <script>
                $(document).ready(function () {
                $('#dtVerticalScrollExample').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                });
                $('.dataTables_length').addClass('bs-select');
                });
        </script>

</body>
</html>