              <!-- Modal -->
              <div class="modal fade" id="invoiceActionModal" tabindex="-1" role="dialog" aria-labelledby="invoiceActionModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="invoiceActionModalLabel">Invoice Action</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="invoiceActionModalForm">
                                        <div class="row">
                                          <div class="col-sm-4 form-group">
                                              <label for="ACCOUNT_NO_" class="col-form-label">Account No</label>
                                            <input  type="text" class="form-control" id="MODAL_ACCOUNT_NO_" name="ACCOUNT_NO_" value="" readonly>
                                          </div>
                                          <div class="col-sm-4 form-group">
                                            <label for="RESORT_" class="col-form-label">Resort</label>
                                            <input type="text" class="form-control"  id="MODAL_RESORT_" name="RESORT_" value="" readonly>
                                          </div>
                                          <div class="col-sm-4 form-group">
                                            <label for="INVOICE_NO_" class="col-form-label">Invoice No.</label>
                                            <input type="text" class="form-control"  id="MODAL_INVOICE_NO_" name="INVOICE_NO_" value="" readonly>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="ownerSelect" class="col-form-label">Choose Action</label>
                                            <select class="form-control" id="ownerSelect" name="OWNER">
                                              <option>Dispatch</option>
                                              <option>10 Days Call</option>
                                              <option>Follow up Call/Email</option>
                                              <option>Letter Sent</option>
                                              <option>Review Comment</option>
                                              <option>Collection Comment</option>
                                            </select>
                                          </div>
                                          
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="ownerSelect" class="col-form-label">Current Owner</label>
                                                <select class="form-control" id="ownerSelect" name="OWNER">
                                                  <option>Property</option>
                                                  <option>SSC</option>
                                                  <option>Customers</option>
                                                  <option>Others</option>
                                                </select>
                                              </div>
                                              
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="PTP_" class="col-form-label">PTP</label>
                                                <input type="date" class="form-control" id="PTP_" name="PTP_"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                  <label for="DISPATCH_DATE_" class="col-form-label">Dispatch Date</label>
                                                  <input type="date" class="form-control" id="DISPATCH_DATE_" name="DISPATCH_DATE_"  >
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="EMAIL_CALL_DATE_" class="col-form-label">Last Call/Email</label>
                                                <input type="date" class="form-control" id="EMAIL_CALL_DATE_" name="EMAIL_CALL_DATE_"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL1_" class="col-form-label">Letter 1</label>
                                                <input type="date" class="form-control" id="LEVEL1_" name="LEVEL1_"  >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL2_" class="col-form-label">Letter 2</label>
                                                <input type="date" class="form-control" id="LEVEL2_" name="LEVEL2_"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL3_" class="col-form-label">Letter 3</label>
                                                <input type="date" class="form-control" id="LEVEL3_" name="LEVEL3_"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="REVIEW_COMMENT_" class="col-form-label">Review Comments</label>
                                          <textarea class="form-control" id="REVIEW_COMMENT_" name="REVIEW_COMMENT_"></textarea>
                                        </div>
                                        <div class="form-group">
                                                <label for="COLL_COMMENT_" class="col-form-label">Collection Comments</label>
                                                <textarea class="form-control" id="COLL_COMMENT_" name="COLL_COMMENT_"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"  id="MODAL_LEVEL_" name="LEVEL" value="" >
                                        </div>
                                        {{  csrf.field | raw }}
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="modalBtn" type="button" class="btn btn-primary">Save comments</button>
                        </div>
                      </div>
                    </div>
                  </div>