              <!-- Modal -->
              <div class="modal fade" id="l3_comment_modal" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="Label">Resort Comment</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="l3_commentForm">
                                        <div class="row">
                                          <div class="col-sm-4 form-group">
                                              <label for="ACCOUNT_NO" class="col-form-label">Account No</label>
                                            <input  type="text" class="form-control" id="MODAL_ACCOUNT_NO" name="ACCOUNT_NO" value="" readonly>
                                          </div>
                                          <div class="col-sm-4 form-group">
                                            <label for="RESORT" class="col-form-label">Resort</label>
                                            <input type="text" class="form-control"  id="MODAL_RESORT" name="RESORT" value="" readonly>
                                          </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="ownerSelect" class="col-form-label">Current Owner</label>
                                                <select class="form-control" id="ownerSelect" name="OWNER">
                                                  <option>Property</option>
                                                  <option>SSC</option>
                                                  <option>Customers</option>
                                                  <option>Others</option>
                                                </select>
                                              </div>
                                              
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="PTP" class="col-form-label">PTP</label>
                                                <input type="date" class="form-control" id="PTP" name="PTP"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                  <label for="DISPATCH_DATE" class="col-form-label">Dispatch Date</label>
                                                  <input type="date" class="form-control" id="DISPATCH_DATE" name="DISPATCH_DATE"  >
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="EMAIL_CALL_DATE" class="col-form-label">Last Call/Email</label>
                                                <input type="date" class="form-control" id="EMAIL_CALL_DATE" name="EMAIL_CALL_DATE"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL1" class="col-form-label">Letter 1</label>
                                                <input type="date" class="form-control" id="LEVEL1" name="LEVEL1"  >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL2" class="col-form-label">Letter 2</label>
                                                <input type="date" class="form-control" id="LEVEL2" name="LEVEL2"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL3" class="col-form-label">Letter 3</label>
                                                <input type="date" class="form-control" id="LEVEL3" name="LEVEL3"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="REVIEW_COMMENT" class="col-form-label">Review Comments</label>
                                          <textarea class="form-control" id="REVIEW_COMMENT" name="REVIEW_COMMENT"></textarea>
                                        </div>
                                        <div class="form-group">
                                                <label for="COLL_COMMENT" class="col-form-label">Collection Comments</label>
                                                <textarea class="form-control" id="COLL_COMMENT" name="COLL_COMMENT"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"  id="MODAL_LEVEL" name="LEVEL" value="" >
                                        </div>
                                        {{  csrf.field | raw }}
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="modalBtn" type="button" class="btn btn-primary">Save comments</button>
                        </div>
                      </div>
                    </div>
                  </div>