
{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}

<h2 style="padding-top: 10px">Aging Summary by Account and Hotel</h2>



<div id="reportLoading"></div>
<div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div>

<table style="table-layout: fixed;width: 2400px; " id="level3Table"class="display nowrap"

data-id-table="level3Table"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-select-item-name="INVOICE_NO"
        data-click-to-select="true"
        data-row-attributes="rowAttributes">
    <thead>
        <tr> 

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME">Account Name</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO">Account No</th>
            <th  scope="col" data-sortable="true" data-field="EID">Owner</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT" data-formatter="rowTotalFormatter">Credit Limit</th>
            <th  scope="col" data-sortable="true" data-field="RESORT">Hotel</th>
            <th  scope="col" data-sortable="true" data-field="RESORT_NAME">Hotel Name</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
            <th  scope="col" class="total-column" data-sortable="true"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
            <th scope="col" data-sortable="true" data-field="RC">Review Comments</th>
            <th scope="col" data-sortable="true" data-field="RC_ID_DATE">EID/Date</th>
            <th scope="col" data-sortable="true" data-field="EMAIL_CALL_DATE">Last call / Email</th>
            <th scope="col" data-sortable="true" data-field="L1">L1</th>
            <th scope="col" data-sortable="true" data-field="L2">L2</th>
            <th scope="col" data-sortable="true" data-field="L3">L3</th>
            <th scope="col" data-sortable="true" data-field="CC">Collection comment</th>
            <th scope="col" data-sortable="true" data-field="CC_ID_DATE">EID/Date</th>
        </tr>
      </thead>

      <tfoot id="dataTableFooter">
          <tr>
              <th colspan="7" style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>


          </tr>
      </tfoot>


</table>

{% include 'comment_modal.html' %}

      </table>

  {% endblock %}