
{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<h2 style="padding-top: 10px;padding-bottom: 10px; ">Aging Summary by Account</h2>



<div id="reportLoading"></div>
<div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div>

<table  id="level2TableV2" class="display nowrap" 

data-id-table="level2TableV2"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-select-item-name="INVOICE_NO"
        data-click-to-select="true"
        data-row-attributes="rowAttributes">
    <thead>
        <tr>

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME">Account Name</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO">Account No</th>
            <th  scope="col" data-sortable="true" data-field="EID">Owner</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT" data-formatter="rowTotalFormatter">Credit Limit</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
            <th  scope="col" data-sortable="true" class="total-column"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
        </tr>
      </thead>

      <tfoot id="dataTableFooter">
          <tr>
              <th colspan="5" style="text-align:right">Total</th>              
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              

          </tr>
      </tfoot>


</table>

{% include 'comment_modal.html' %}

      </table>


  {% endblock %}