
{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<div class="row" style="padding-top: 10px;">
  <div class="col-sm-4">
      <h2 style="padding-top: 10px">Aging Detail by Account and Hotel</h2>
  </div>
  <div class="col-sm-2">
      <div class="form-group">
          <select class="form-control" id="selectEID">
              <option value="ALL">All owners..</option>
              {% for eid in eids %}
              <option value="{{ eid.EID }}">{{ eid.EID }}</option>
              {% endfor %}

          </select>
        </div>
  </div>
</div>

<p id="session_user" hidden>{{ session_user }}</p>





<div id="reportLoading"></div>

<table style="table-layout: fixed;width: 2500px; "  id="level4DataTable" class="display nowrap"

data-id-table="level4DataTable"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-select-item-name="INVOICE_NO"
        data-click-to-select="true"
        data-row-attributes="rowAttributes">
    <thead>
        <tr>

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME">Account Name</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO">Account No</th>
             <th  scope="col" data-sortable="true" data-field="EID">Owner</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT" data-formatter="rowTotalFormatter">Credit Limit</th>
            <th  scope="col" data-sortable="true" data-field="RESORT">Hotel</th>
            <th  scope="col" data-sortable="true" data-field="RESORT_NAME">Hotel Name</th>
            <th  scope="col" data-sortable="true" data-field="INVOICE_NO">Invoice No.</th>
            <th  scope="col" data-sortable="true" data-field="FOLIO_NO">Folio No.</th>
            <th  scope="col" data-sortable="true" data-field="POST_DATE" >Post Date</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
            <th  scope="col" class="total-column" data-sortable="true"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
            <th scope="col" data-sortable="true" data-field="INVOICE_AGE">No. of Days in Aging</th>
            <th scope="col" data-sortable="true" data-field="OWNER">Current Ownership</th>
            <th scope="col" data-sortable="true" data-field="DISPATCH_DATE">Dispatch Date</th>
            <th scope="col" data-sortable="true" data-field="RC">Review Comments</th>
            <th scope="col" data-sortable="true" data-field="RC_ID_DATE">EID/Date</th>
            <th scope="col" data-sortable="true" data-field="EMAIL_CALL_DATE">Last call / Email</th>
            <th scope="col" data-sortable="true" data-field="L1">L1</th>
            <th scope="col" data-sortable="true" data-field="L2">L2</th>
            <th scope="col" data-sortable="true" data-field="L3">L3</th>
            <th scope="col" data-sortable="true" data-field="CC">Collection comment</th>
            <th scope="col" data-sortable="true" data-field="CC_ID_DATE">EID/Date</th>
        </tr>
      </thead>

      <tfoot id="dataTableFooter">
          <tr>
              <th colspan="10" style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th ></th>
              <th></th>
          </tr>
      </tfoot>


</table>

{% include 'comment_modal.html' %}

      </table>


  {% endblock %}