
{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<h2 style="padding-top: 10px;padding-bottom: 10px; ">Aging Summary by Account Type</h2>



<div id="reportLoading"></div>

<table style="table-layout: fixed;width: 1600px; " id="level1Table"class="display nowrap"

data-id-table="level1Table"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-select-item-name="INVOICE_NO"
        data-click-to-select="true"
        data-row-attributes="rowAttributes">
    <thead>
        <tr>

            <th  scope="col" data-sortable="true" data-field="ACCOUNT_TYPE"   >Account Type</th>
              <th  scope="col" data-field="AGE_BUCKET1" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >Up to 15</th>
            <th  scope="col" data-field="AGE_BUCKET2" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >16 to 30</th>
            <th  scope="col" data-field="AGE_BUCKET3" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >31 to 60</th>
            <th  scope="col" data-field="AGE_BUCKET4" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >61 to 90</th>
            <th  scope="col" data-field="AGE_BUCKET5" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >91 to 120</th>
            <th  scope="col" data-field="AGE_BUCKET6" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter" >121 and over</th>
            <th  scope="col" class="total-column"  data-field="TOTAL" data-formatter="rowTotalFormatter" data-footer-formatter="totalFormatter">Total</th>
        </tr>
      </thead>

      <tfoot id="dataTableFooter">
          <tr>
              <th style="text-align:right">Total</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>


          </tr>
      </tfoot>


</table>

{% include 'comment_modal.html' %}

      </table>


      {% endblock %}







