              <!-- Modal -->
              <div class="modal fade" id="mappingChangeModal" tabindex="-1" role="dialog" aria-labelledby="mappingChangeModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="mappingChangeModalLabel">Change Account Mapping</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="mappingChangeModalForm" class="needs-validation" novalidate>
                                          <div class="row">
                                          <div class="col-sm-3 form-group">
                                            <label for="RESORT" class="col-form-label">Resort</label>
                                            <input type="text" class="form-control"  id="RESORT" name="RESORT" value="" readonly>
                                          </div>
                                          <div class="col-sm-3 form-group">
                                              <label for="FROM_ACCOUNT" class="col-form-label">From Account </label>
                                            <input  type="text" class="form-control" id="FROM_ACCOUNT" name="FROM_ACCOUNT" value="" readonly>
                                          </div>
                                          <div class="col-sm-3 form-group">
                                              <label for="TO_ACCOUNT" class="col-form-label">To Account </label>
                                            <input  type="text" class="form-control" id="TO_ACCOUNT" name="TO_ACCOUNT" value="" required >
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-12 form-group">
                                                <label for="ACCOUNT_NAME" class="col-form-label">Account Name</label>
                                                <input type="text" class="form-control"  id="ACCOUNT_NAME" name="ACCOUNT_NAME" value="" required >
                                              </div>
                                        </div> 
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="PAYMENT" class="col-form-label">Payment Method</label>
                                                <input type="text" class="form-control"  id="PAYMENT" name="PAYMENT" value="" required >
                                              </div>
                                          <div class="col-sm-6 form-group">
                                            <label for="CONTACT" class="col-form-label">Contact</label>
                                            <input type="text" class="form-control"  id="CONTACT" name="CONTACT" value="" required >
                                          </div>
                                      </div>
                                      {{  csrf.field | raw }}
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="mappingDeleteModalBtn" type="button" class="btn btn-danger">Delete</button>
                          <button id="mappingChangeModalBtn" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>