              <!-- Modal -->
              <div class="modal fade" id="mappingAddModal" tabindex="-1" role="dialog" aria-labelledby="mappingAddModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="mappingAddModalLabel">Add Account Mapping</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="mappingAddModalForm" class="needs-validation" novalidate>
                                          <div class="row">
                                          <div class="col-sm-3 form-group">
                                            <label for="RESORT_NEW" class="col-form-label">Hotel</label>
                                            <input type="text" class="form-control"  id="RESORT_NEW" name="RESORT_NEW" value="" required >
                                            <div class="invalid-feedback">
                                                Hotel required
                                              </div>
                                          </div>
                                          <div class="col-sm-3 form-group">
                                              <label for="FROM_ACCOUNT_NEW" class="col-form-label">From Account </label>
                                            <input  type="text" class="form-control" id="FROM_ACCOUNT_NEW" name="FROM_ACCOUNT_NEW" value="" required >
                                            <div class="invalid-feedback">
                                                From Account required
                                              </div>
                                          </div>
                                          <div class="col-sm-3 form-group">
                                              <label for="TO_ACCOUNT_NEW" class="col-form-label">To Account </label>
                                            <input  type="text" class="form-control" id="TO_ACCOUNT_NEW" name="TO_ACCOUNT_NEW" value="" required >
                                            <div class="invalid-feedback">
                                                To Account required
                                              </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-12 form-group">
                                                <label for="ACCOUNT_NAME_NEW" class="col-form-label">Account Name</label>
                                                <input type="text" class="form-control"  id="ACCOUNT_NAME_NEW" name="ACCOUNT_NAME_NEW" value="" required >
                                                <div class="invalid-feedback">
                                                    Account name required
                                                  </div>
                                              </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="PAYMENT_NEW" class="col-form-label">Payment Method</label>
                                                <input type="text" class="form-control"  id="PAYMENT_NEW" name="PAYMENT_NEW" value="" required >
                                                <div class="invalid-feedback">
                                                   Payment method required
                                                  </div>
                                              </div>
                                          <div class="col-sm-6 form-group">
                                            <label for="CONTACT_NEW" class="col-form-label">Contact</label>
                                            <input type="text" class="form-control"  id="CONTACT_NEW" name="CONTACT_NEW" value=""  >

                                          </div>
                                      </div>
                                      {{  csrf.field | raw }}
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="mappingAddModalBtn" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>