{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<div style="padding: 10px;">
    <button id="addMappingBtn" type="button" class="btn btn-secondary">Add new mapping</button>
</div>


<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>
<div id="reportLoading"></div>

<table  id="mappingDataTable" class="display nowrap"

        data-id-table="mappingDataTable"
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-advanced-search="true"
        data-id-table="advancedTable"
        data-show-export="true"
        data-select-item-name="ACCOUNT_NO_FROM"
        data-click-to-select="true"
        data-row-attributes="rowAttributes">
  <thead >
        <tr>
            <th  scope="col" data-sortable="true" data-field="RESORT"   >Hotel</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO_FROM"  >From Account</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO_TO"  >To Account</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME"  >Account Name</th>
            <th  scope="col" data-sortable="true" data-field="CONTACT"  >Contact</th>
            <th  scope="col" data-sortable="true" data-field="PAYMENT_METHOD"  >Payment Method</th>
            <th  scope="col" data-sortable="true" data-field="EID"  >Owner</th>
            <th  scope="col" data-sortable="true" data-field="INSERT_DATE"  >Date added</th>
            <th  scope="col" data-sortable="true" data-field="INSERT_USER"  >User</th>
            <th  scope="col" data-sortable="true" data-field="UPDATE_DATE"  >Last updated</th>
            <th  scope="col" data-sortable="true" data-field="UPDATE_USER"  >User</th>
            <th  scope="col" data-sortable="true" data-field="MAPPED"  >Mapped</th>
      </tr>
    </thead>
   




</table>

{% include 'mapping_change_modal.html' %}
{% include 'mapping_add_modal.html' %}
{% include 'deleteModal.html' %}





{% endblock %}