{% extends 'bootstrapTableMaster.twig' %} {% block arTable %}

<div style="padding: 10px">
  <button id="addMappingV4Btn" type="button" class="btn btn-secondary">
    Add new mapping
  </button>
</div>
{% if flash.getMessage('fileuploadfailed').0 %}
<div class="alert alert-danger">
  {{flash.getMessage('fileuploadfailed').0}}
</div>
{% endif %}

<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>

<div id="reportLoading"></div>
<div style="text-align: right">
  <button id="filterBtn" type="button" class="btn btn-secondary">
    <i class="fas fa-filter"></i>
  </button>
  <button id="filterClearBtn" type="button" class="btn btn-light">
    <i class="fas fa-eraser"></i>
  </button>
</div>

<table
  style="table-layout: fixed; width: 2500px"
  id="mappingV4DataTable"
  class="display nowrap"
  data-id-table="mappingV4DataTable"
>
  <thead>
    <tr>
      <th scope="col" data-sortable="true" data-field="RESORT">Hotel</th>
      <th scope="col" data-sortable="true" data-field="RESORT_NAME">
        Hotel Name
      </th>
      <th scope="col" data-sortable="true" data-field="ACCOUNT_TYPE">
        Account Type Code
      </th>
      <th scope="col" data-sortable="true" data-field="ACCOUNT_TYPE_DESC">
        Account Type
      </th>
      <th scope="col" data-sortable="true" data-field="ACCOUNT_NO_FROM">
        From Account
      </th>
      <th scope="col" data-sortable="true" data-field="ACCOUNT_NO_TO">
        To Account
      </th>
      <th scope="col" data-sortable="true" data-field="ACCOUNT_NAME">
        Account Name
      </th>
      <th scope="col" data-sortable="true" data-field="CONTACT">Contact</th>
      <th scope="col" data-sortable="true" data-field="PAYMENT_METHOD">
        Payment Method
      </th>
      <th scope="col" data-sortable="true" data-field="EID">Owner</th>
      <th scope="col" data-sortable="true" data-field="INSERT_DATE">
        Date added
      </th>
      <th scope="col" data-sortable="true" data-field="INSERT_USER">User</th>
      <th scope="col" data-sortable="true" data-field="UPDATE_DATE">
        Last updated
      </th>
      <th scope="col" data-sortable="true" data-field="UPDATE_USER">User</th>
      <th scope="col" data-sortable="true" data-field="MAPPED">Mapped</th>
      <th scope="col" data-sortable="true" data-field="REQUIRED_DOCS">
        Required Documents
      </th>
      <th scope="col" data-sortable="true" data-field="DOCS_UPLOADED">
        Attachment
      </th>
    </tr>
  </thead>
</table>

{% include 'mappingv4_change_modal.twig' %} {% include
'mappingv4_add_modal.twig' %} {% include 'deleteMappingV4Modal.html' %} {%
endblock %}
