<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AR Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/proteahotels.jpg">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!--link href="css/mdb.min.css" rel="stylesheet"-->
    <style>
    body {
      font-size: 11px;
    }

            table.dataTable thead .sorting:after,
            table.dataTable thead .sorting:before,
            table.dataTable thead .sorting_asc:after,
            table.dataTable thead .sorting_asc:before,
            table.dataTable thead .sorting_asc_disabled:after,
            table.dataTable thead .sorting_asc_disabled:before,
            table.dataTable thead .sorting_desc:after,
            table.dataTable thead .sorting_desc:before,
            table.dataTable thead .sorting_desc_disabled:after,
            table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
            }
    </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="invoices" class="container-fluid">
   <!-- Nav tabs -->





    {% block arTable %}
    {% endblock %}



        </div>



        <script src="" async defer></script>
          <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!--Datatables-->
  <script type="text/javascript" src="js/addons/datatables.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

        <script>

              function suppressRepeats() {
                var seen = {};
                $('#summaryTable td').each(function() {
                  var index =  $(this).index();
                  var txt = $(this).text();
                  if (seen[index] === txt) {
                      $(this).text('');
                  }
                  else {
                      seen[index] = txt;
                  }
                });

              }



                $(document).ready(function () {

                $('#summaryTable').DataTable({
                  "scrollY": "70vh",
                "scrollCollapse": true,
                // "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                "paging": false,

                });
                $('.dataTables_length').addClass('bs-select');
                // suppressRepeats();


                });
        </script>

</body>
</html>