              <!-- Modal -->
              <div class="modal fade" id="multiCommentModal" tabindex="-1" role="dialog" aria-labelledby="multiCommentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="multiCommentModalLabel">Add Comments</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="multiCommentModalForm">
                                  <div class="row">
                                            <div class="col-sm-3 form-group">
                                                <label for="MULTI_ACCOUNT_NO" class="col-form-label"></label>
                                                <input type="textarea" class="form-control" id="MULTI_ACCOUNT_NO" value="" name="ACCOUNT_NO" hidden  >
                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label for="MULTI_RESORT" class="col-form-label"></label>
                                                <input type="textarea" class="form-control" id="MULTI_RESORT" value=""name="RESORT" hidden >
                                            </div>
                                            <div class="col-sm-3 form-group">
                                                <label for="MULTI_INVOICE_NO" class="col-form-label"></label>
                                                <input type="textarea" class="form-control" id="MULTI_INVOICE_NO" value="" name="INVOICE_NO" hidden >
                                            </div>
                                        </div>
                                       <div class="row">
                                          <div class="col-sm-12 form-group">
                                            <label for="MODAL_INVOICE_NO_MULTI" class="col-form-label">Comments will be added to these invoices</label>
                                            
                                            <p id="MODAL_INVOICE_LIST"></p>
                                          </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label for="ownerSelect" class="col-form-label">Current Owner</label>
                                                <select class="form-control" id="ownerSelect" name="OWNER">
                                                  <option>Property</option>
                                                  <option>SSC</option>
                                                  <option>Customers</option>
                                                  <option>Others</option>
                                                </select>
                                              </div>
                                              
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="PTP" class="col-form-label">PTP</label>
                                                <input type="date" class="form-control" id="PTP" name="PTP"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                  <label for="DISPATCH_DATE" class="col-form-label">Dispatch Date</label>
                                                  <input type="date" class="form-control" id="DISPATCH_DATE" name="DISPATCH_DATE"  >
                                              </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="EMAIL_CALL_DATE" class="col-form-label">Last Call/Email</label>
                                                <input type="date" class="form-control" id="EMAIL_CALL_DATE" name="EMAIL_CALL_DATE"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL1" class="col-form-label">Letter 1</label>
                                                <input type="date" class="form-control" id="LEVEL1" name="LEVEL1"  >
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL2" class="col-form-label">Letter 2</label>
                                                <input type="date" class="form-control" id="LEVEL2" name="LEVEL2"  >
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="LEVEL3" class="col-form-label">Letter 3</label>
                                                <input type="date" class="form-control" id="LEVEL3" name="LEVEL3"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="REVIEW_COMMENT" class="col-form-label">Review Comments</label>
                                          <textarea class="form-control" id="REVIEW_COMMENT" name="REVIEW_COMMENT"></textarea>
                                        </div>
                                        <div class="form-group">
                                                <label for="COLL_COMMENT" class="col-form-label">Collection Comments</label>
                                                <textarea class="form-control" id="COLL_COMMENT" name="COLL_COMMENT"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control"  id="MULTI_MODAL_LEVEL" name="LEVEL" value="" hidden >
                                        </div>
                                        {{  csrf.field | raw }}
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="multiCommentModalBtn" type="button" class="btn btn-primary">Save comments</button>
                        </div>
                      </div>
                    </div>
                  </div>