              <!-- Modal -->
              <div class="modal fade" id="ownerChangeModal" tabindex="-1" role="dialog" aria-labelledby="ownerChangeModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ownerChangeModalLabel">Change Account Owner</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="ownerChangeModalForm" class="needs-validation" novalidate>
                                          <div class="row">
                                          <div class="col-sm-6 form-group">
                                              <label for="OWNER_ACCOUNT" class="col-form-label">Account No </label>
                                            <input  type="text" class="form-control" id="OWNER_ACCOUNT" name="OWNER_ACCOUNT" value="" readonly>
                                          </div>
                                          <div class="col-sm-6 form-group">
                                              <label for="OWNER_EID" class="col-form-label">Owner </label>
                                            <input  type="text" class="form-control" id="OWNER_EID" name="OWNER_EID" value="" required >
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-12 form-group">
                                                <label for="OWNER_ACCOUNT_NAME" class="col-form-label">Account Name</label>
                                                <input type="text" class="form-control"  id="OWNER_ACCOUNT_NAME" name="OWNER_ACCOUNT_NAME" value="" required >
                                              </div>
                                        </div> 
                                        
                                      {{  csrf.field | raw }}
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button id="ownerDeleteModalBtn" type="button" class="btn btn-danger">Delete</button>
                          <button id="ownerChangeModalBtn" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>