{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}


<div style="padding: 10px;">
    <button id="addOwnerBtn" type="button" class="btn btn-secondary">Add new owner</button>
</div>


<p id="owners_session_user" hidden>{{ session_user }}</p>
<p id="owners_access_allowed" hidden>{{ access_allowed }}</p>
<div id="reportLoading"></div>
<div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div>


<table  id="ownersTable" class="display nowrap"

        data-id-table="ownersTable"
>
  <thead >
        <tr>
            
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NO"  >Account No</th>
            <th  scope="col" data-sortable="true" data-field="ACCOUNT_NAME"  >Account Name</th>
            <th  scope="col" data-sortable="true" data-field="EID"  >Owner</th>
            <th  scope="col" data-sortable="true" data-field="INSERT_DATE"  >Date added</th>
            <th  scope="col" data-sortable="true" data-field="INSERT_USER"  >User</th>
            <th  scope="col" data-sortable="true" data-field="UPDATE_DATE"  >Last updated</th>
            <th  scope="col" data-sortable="true" data-field="UPDATE_USER"  >User</th>
      </tr>
    </thead>
   




</table>

{% include 'owners_change_modal.html' %}
{% include 'owners_add_modal.html' %}
{% include 'deleteOwnersModal.html' %}





{% endblock %}