<!-- Modal -->
<div class="modal fade" id="performanceInputModal" tabindex="-1" role="dialog" aria-labelledby="performanceInputModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="performanceInputModalLabel">Select the data to edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form action="" style="font-size: 16px;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="input" id="target" value="option1" checked>
                <label class="form-check-label" for="target">
                  Target per individual
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="input" id="policy" value="option2">
                <label class="form-check-label" for="policy">
                  Marriott Policy
                </label>
              </div>
        </form>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="editTargetsModalBtn" type="button" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
</div>

