<!-- Modal -->
<div class="modal fade" id="performanceInputEditModal" tabindex="-1" role="dialog" aria-labelledby="performanceInputEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="performanceInputEditModalLabel">Edit Targets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form action="" id="targetsForm" style="font-size: 16px;">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="form-group">
                    <label for="target_eid" class="col-form-label">Select Owner</label>
                      <select class="form-control" id="target_eid" name="target_eid" required>
                          <option value="ALL">All owners..</option>
                          {% for eid in eids %}
                          <option value="{{ eid.EID }}">{{ eid.EID }}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
              
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="form-group">
                    <label for="target_type" class="col-form-label">Select Target</label>
                      <select class="form-control" id="target_type" name="target_type" required>
                        <option value="NONE">Select Target Type..</option>
                          {% for t in targetTypes %}
                          <option value="{{ t.CODE }}">{{ t.DESCRIPTION }}</option>
                          {% endfor %}

                      </select>
                    </div>
                  </div>
              
            </div>
            <div id="input_targets" class="row">
                                
            </div>
             {{  csrf.field | raw }}
        </form>    
        <label id="target_flash" class="col-form-label flash">Owner must be selected and target must be a % value between 0 and 100</label>   
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="saveTargetsBtn" type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>

