{% extends 'bootstrapTableMaster.twig' %}

{% block arTable %}



<p id="session_user" hidden>{{ session_user }}</p>
<p id="access_allowed" hidden>{{ access_allowed }}</p>

<div id="reportLoading"></div>
{# <div style="text-align:right;">
<button id="filterBtn" type="button" class="btn btn-secondary"><i class="fas fa-filter"></i></button>
<button id="filterClearBtn" type="button" class="btn btn-light"><i class="fas fa-eraser"></i></button>
</div> #}


<div class="filter-block">
  <div class="form-row">
   <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_from_date" class="col-form-label performance-filter">From Date</label>                  
    <input type="date" class="form-control performance-filter"  id="filter_from_date" name="filter_from_date" min="" max="" value="" placeholder=""  >
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_to_date" class="col-form-label performance-filter">To Date</label>                  
    <input type="date" class="form-control performance-filter"  id="filter_to_date" name="filter_to_date" min="" max="" value="" placeholder=""  >
  </div>
  <div class="col-sm-2 mb-3 performance-filter" >
    <label for="filter_eid" class="col-form-label performance-filter">Owner</label>                  
     <select class="form-control performance-filter" id="filter_eid">
          <option value="ALL" selected>All owners..</option>
          {% for eid in eids %}
          <option value="{{ eid.EID }}">{{ eid.EID }}</option>
          {% endfor %}
      </select>
  </div>
  <div class="col-sm-4 performance-filter" >
    <label for="filter_resort" class="col-form-label performance-filter">Hotel</label>                  
     <select class="form-control performance-filter" id="filter_resort">
          <option value="ALL" selected>All hotels..</option>
          {% for resort in resorts %}
          <option value="{{ resort.CODE }}">{{ resort.DESCRIPTION }}</option>
          {% endfor %}
      </select>
  </div>
  </div>
</div>

<div class="row"> 
<div class="col-sm-12">
<table id="ssc_aging_table" class="display nowrap"
        data-id-table="ssc_aging_table">
  <thead >
        <tr>
            <th  scope="col" data-sortable="true" data-field="Customer"   >Owner</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET1"   >Up to 15</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET2"   >16 to 30</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET3"   >31  to 60</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET4"   >61 to 90</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >91 to 120</th>
            <th  scope="col" data-sortable="true" data-field="AGE_BUCKET5"   >121 and over</th>
            <th  scope="col" data-sortable="true" data-field="TOTAL"   >Total</th>
            <th  scope="col" data-sortable="true" data-field="CREDIT_LIMIT"   >Credit Limit</th>
      </tr>
    </thead>
   
</table>
</div>
 </div>


{% endblock %}