Test file upload

<form method="post" enctype="multipart/form-data">
  <input type="file" name="files[]"  accept=".pdf" />
  <input type="submit" value="Upload File" name="submit" />
  {{  csrf.field | raw }}
</form>

